*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.flex{
  display: flex;
  width: 30%;
  flex-wrap: wrap;

}
.flex > div{
  width: 12.5%;
  padding: 20px;
  border: 1px solid white;
}

.odd{
  background-color: rgb(229, 250, 43);
}
.double{
  background-color: rgb(88, 226, 88);
}
.prime{
  background-color: red;
}